html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: Gelasio, sans-serif;
    background-color: #836853;
    /*Margin bottom to account for the sticky footer*/
    margin-bottom: 100px;
}

header{
    text-align: center;
    color: #A8201A;
}

figure{
    margin-top: 2.5%;
}

.jumbotron{
    font-family: 'Seymour One', Serif;
    background-color: #ec9a29;
    color: #A8201A;
    margin-bottom: 0;
}

footer{
    height: 80px;
    background-color: #ec9a29;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


nav{
    background-color: #90C978;
    padding: 10px;
    text-align: center;

}

nav a:hover{
    background-color: #A8201A;
    font-weight: bold;
}

nav a:active{
    text-decoration: none;
}

nav a:visited{
    color: #FF6961;
}

.carousel-caption{
    color: black;
    background-color: wheat;
}